version: '3.8'

services:
  amneziawg-api:
    build: .
    container_name: amneziawg-api
    privileged: true
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    ports:
      - "${API_PORT:-8080}:8080"
      - "${SERVER_PORT:-51820}:${SERVER_PORT:-51820}/udp"
    environment:
      # Server Configuration
      - SERVER_IP=${SERVER_IP:-0.0.0.0}
      - SERVER_PORT=${SERVER_PORT:-51820}
      - SERVER_PRIVATE_KEY=${SERVER_PRIVATE_KEY:-}
      - SERVER_PUBLIC_KEY=${SERVER_PUBLIC_KEY:-}
      
      # Network Configuration
      - VPN_NETWORK=${VPN_NETWORK:-10.8.0.0/24}
      - VPN_NETWORK_START=${VPN_NETWORK_START:-10.8.0.2}
      
      # Obfuscation Parameters
      - JC=${JC:-6}
      - JMIN=${JMIN:-50}
      - JMAX=${JMAX:-1000}
      - S1=${S1:-0}
      - S2=${S2:-0}
      - S3=${S3:-0}
      - S4=${S4:-0}
      - H1=${H1:-}
      - H2=${H2:-}
      - H3=${H3:-}
      - H4=${H4:-}
      - I1=${I1:-}
      - I2=${I2:-}
      - I3=${I3:-}
      - I4=${I4:-}
      - I5=${I5:-}
      
      # API Configuration
      - API_HOST=0.0.0.0
      - API_PORT=8080
      - API_KEY=${API_KEY:-}
      
      # Interface
      - INTERFACE_NAME=${INTERFACE_NAME:-awg0}
      - DATA_DIR=/etc/amneziawg
      
    volumes:
      - ./data:/etc/amneziawg
    restart: unless-stopped
    networks:
      - amneziawg-net

networks:
  amneziawg-net:
    driver: bridge
